################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/School/.vs/School/v15/Server/sqlite3/db.lock
/School/School.Database
